.image{
  width: 150px;
  height: 150px;
  border-radius: 50%; /*don't forget prefixes
  background-image: url("path/to/image");*/
  background-position: center center;
  /* as mentioned by Vad: */
  background-size: cover;
}
